body {
  background-color: #46B1C9;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #E7BB41
}

.control {
  background: #260587;
  margin:1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  h3 {
    width: 100%;
    text-align: center;
  }
  input {
    width: 25em;
  }
  button {
    padding: 0.8rem;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      background: #ffdb77;
      border-radius: 1rem;
    }
  }
  .active {
    background: #f7b500;
      border-radius: 1rem;
    &:hover {
      background: #f7b500;
    }
  }
}