body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #3ea3d5;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white
}